<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!--别名，会用在mapper.xml文件中的 resultType, parameterType中，否则mapper中需要写全路径-->
        <typeAlias type="com.mogu.hui.domain.User" alias="User"/>
    </typeAliases>
</configuration>